@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');

.formulario__label {
    color: #f0ffffde;
    font-family: 'Metal', cursive;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 10px;
}