@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.formulario__submit {
    background: #00ff88;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 10px 40px -12px #00ff8052 ;
    color: #2b134b;
    cursor: pointer;
    font-family: 'PT Mono', monospace;
    font-weight: 800;
    letter-spacing: 3px;
    margin: 25px 0;
    outline: none;
    padding: 16px 0;
    text-transform: uppercase;
    width: 100%;
}