.formulario__input {
    background:#514869 ;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
    box-sizing: border-box;
    color: #f0ffffde;
    font-size: 12pt;
    outline: none;
    padding: 15px;
    width: 100%;
}

.formulario__input::placeholder {
    color: #f0ffff94;
}
